{{ partial "header.html" . }}

<ul>
    <li>質問版
        <ul>
            <li><a href="https://stackoverflow.com/">stackoverflow</a></li>
            <li><a href="https://jp.quora.com/">Quora</a></li>
        </ul>
    </li>
    <li>機械学習
        <ul>
            <li><a href="https://www.kaggle.com/">Kaggle</a></li>
        </ul>
    </li>
    <li>論文
        <ul>
            <li><a href="https://github.com/ShawnBIT/UNet-family">UNet-family</a></li>
        </ul>
    </li>
</ul>

{{ partial "footer.html" . }}
